<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="SPACEclipse.category"
            name="%category.name.0">
      </category>
      <view
            category="SPACEclipse.category"
            class="spaceclipse.herramientas.PanelPropuestasTurno"
            icon="icons/space.gif"
            id="SPACEclipse.view1"
            name="%view.name.0"
            restorable="true">
      </view>
      <view
            category="SPACEclipse.category"
            class="spaceclipse.herramientas.ChatEstructuradoSWT"
            icon="icons/space.gif"
            id="SPACEclipse.chatEstructurado"
            name="%view.name.1"
            restorable="true">
      </view>
      <view
            category="SPACEclipse.category"
            class="spaceclipse.herramientas.PanelSesion"
            icon="icons/space.gif"
            id="SPACEclipse.panelSesion"
            name="%view.name.2"
            restorable="true">
      </view>
      <view
            category="SPACEclipse.category"
            class="spaceclipse.herramientas.PanelPropuestasPerspectivas"
            icon="icons/space.gif"
            id="SPACEclipse.perspectivePanel"
            name="%view.name.3"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="spaceclipse.herramientas.Editor"
            default="false"
            icon="icons/space.png"
            id="SPACEclipse.editor"
            name="%editor.name.0">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="spaceclipse.perspectives.PerspectivaComando"
            icon="icons/space.gif"
            id="SPACEclipse.perspectiva"
            name="SPACEclipse">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="spaceclipse.commands.Iniciar"
            id="SPACEclipse.command.toolbar.iniciar"
            name="Iniciar">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="SPACEclipse.commands.toolbar.spaceToolbar">
            <command
                  commandId="SPACEclipse.command.toolbar.iniciar"
                  icon="icons/play.gif"
                  label="Iniciar"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
